<table border='1'>
  <thead>
    <tr>
      <th>path</th>
      <th>view_ms</th>
      <th>activerecord_ms</th>
      <th>solr_ms</th>
      <th>total_ms</th>
      <th>merged_count</th>
    </tr>
  </thead>
  <tbody>
    <% paths.each do |path, summarized_requests| %>
      <tr>
        <th><%= path %></th>
        <th><%= summarized_requests.average(:view_ms).to_i %></th>
        <th><%= summarized_requests.average(:ar_ms).to_i %></th>
        <th><%= summarized_requests.average(:solr_ms).to_i %></th>
        <th><%= summarized_requests.average(:total_ms).to_i %></th>
        <th><%= summarized_requests.sum(:merged_count) %></th>
      </tr>
    <% end %>
  </tbody>
</table>

