<%= link_to 'top', root_path %>
<%#
  hash = [
    { name: :ggg, data: [[DateTime.new(2011, 1, 1), 2], [DateTime.new(2011, 1, 3), 2]] },
    # { name: :ggg, data: [[DateTime.new(2011, 1, 1), 2], [DateTime.new(2011, 1, 2), 2], [DateTime.new(2011, 1, 3), 2]] },
    { name: :ggg2, data: [[DateTime.new(2011, 1, 1), 3], [DateTime.new(2011, 1, 2), 5], [DateTime.new(2011, 1, 3), 4]] },
  ]
  line_chart hash, download: true, discrete: true
%>
  <%= line_chart @search_object.chart_data, download: true, stacked: true, curve: false, donut: true %>
  <%= form_for @search_object, url: "/response_time_viewer#{request.path_info}", method: :get do |f| %>
    <table border=1>
      <tbody>
        <tr>
          <td width='100px'>
            <div>
              両方 <%= f.radio_button :device, false, checked: true  %>
          </div>
          <div>
            pc
            <%= f.radio_button :device, :pc %>
          </div>
          <div>
            sp
            <%= f.radio_button :device, :sp %>
          </div>
          </td>
          <td>
            前方一致のパス
            <div>
              <%= f.text_field :path %>
            </div>
          </td>
          <td>
            完全一致のパス(not include params)
            <div>
              <%= f.text_field :full_match_path %>
            </div>
          </td>
          <td>
            <%= f.date_field :start_on %>
            <%= f.date_field :end_on %>
          </td>
        </tr>
      </tbody>
    </table>
  <div><%= f.submit %></div>
<% end %>

<table border='1'>
  <thead>
    <tr>
      <th>path</th>
      <th>summarized_at</th>
      <th>total_ms</th>
      <th>device</th>
    </tr>

  </thead>
  <tbody>
    <%- @summarized_requests.each do |summarized_request| %>
      <tr>
        <td><%= summarized_request.path_with_params[0..40] %></td>
        <td><%= summarized_request.summarized_at.strftime("%Y年%m月%d日 %H時%M分")  %></td>
        <td><%= summarized_request.total_ms %></td>
        <td><%= summarized_request.device %></td>
      </tr>
    <% end %>
  </tbody>
