<%= link_to 'top', root_path %>
<%= paginate @access_logs %>

<table border='1'>
  <thead>
    <tr>
      <th>パス</th>
      <th>実行時間</th>
      <th>ステータス</th>
      <th>error_trace</th>
      <th>created_at</th>
      <th>updaetd_at</th>
    </tr>
  </thead>
  <tbody>
    <%- @access_logs.each do |access_log| %>
      <tr>
        <td><%= access_log.path %></td>
        <td><%= access_log.success? ? access_log.executing_time : (Time.now - access_log.executing_time).to_i %></td>
        <td><%= access_log.status %></td>
        <td><%= (access_log.error_trace && access_log.error_trace[0..50] || :-) %></td>
        <td><%= access_log.created_at %></td>
        <td><%= access_log.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @access_logs %>
