<h1>
  <%= @watching_url_group.name %>グループのURL編集
</h1>

<div>
  <%= link_to 'top', root_path %>
</div>
<div>
  <%= link_to 'グループの一覧', watching_url_groups_path %>
</div>
<div>
  <%= link_to 'チャートを見る', watching_url_group_summarized_requests_path(@watching_url_group) %>
</div>

<h2>
  登録されているURL
</h2>
<table border='1'>
  <thead>
    <tr>
      <th>name</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <%- @watching_urls.each do |watching_url| %>
      <tr>
        <td><%= watching_url.path[0..40] %></td>
        <td>
          <%= form_tag watching_url_group_watching_url_path(@watching_url_group, watching_url), method: :delete do %>
            <%= hidden_field_tag :watching_url_id, watching_url.id %>
            <%= submit_tag '削除する' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>
  登録可能URL
</h2>
<%= paginate @addable_watching_urls %>
<table border='1'>
  <thead>
    <tr>
      <th>name</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <%- @addable_watching_urls.each do |watching_url| %>
      <tr>
        <td><%= watching_url.path[0..40] %></td>
        <td>
          <%# link_to ..., ..., method: :post でしたかったけど開発環境で ujs が動かないのでformにする %>
          <%= form_tag watching_url_group_watching_urls_path(@watching_url_group), method: :post do %>
            <%= hidden_field_tag :watching_url_id, watching_url.id %>
            <%= submit_tag '追加する' %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @addable_watching_urls %>
